.navbar-nav{
    width: 100%;
    height: 12vh;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
}
*{
    outline: none;
    border: 0px;
    /* background-color: black; */
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
html{
    height: 100%;
}
body{
    overflow-x: hidden;
    height: 100%;
}
/* Laptop bg */
@media only screen and (min-device-width : 1441px) and (max-device-width : 2460px) {
    .tabs{
        padding: 0px 15px 0px 15px;
        color: #FFF;
        text-decoration: none;
        font-size: larger;
    }
    .tabs:hover{
        text-decoration: none;
        color: #FFF;
    }
.about{
    margin-top: 0px;
    height: 90vh;
    background-color: black;
    
}
    .bg-img{
        height: 100vh;
        width: 100%;
        /* background-color: black; */
        background-image: url("./assets/background.jpeg");
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
    .about-content{
        background-color: black;
        margin-left: 2vw;
        padding: 5px 5px 5px 50px;
        float: left;
        width: 45vw;
        color: white;
        font-size: 1.25vw;
    }
    #vallam-incident{
        float: right;
        font-size: 1.5vw;
    }
    .procedure-content{
        /* float: left;  */
        background-color: black;
        margin-left: 2vw;
        padding: 5px 5px 5px 50px;
        float: left;
        width: 45vw;
        color: white;
        font-size: 1.25vw;
    }
    #note-for-donors{
        /* float: right; */
        font-size: 1.5vw;
    }
    .gap{
        height: 12vh;
        background-color: black;
    }
    .title-box{
        position: relative;
        background-color: rgba(252,198,197,50%);
        width: max-content;
        text-align-last: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3vh 3vh 0vh 3vh;
        /* height: min-content; */
    }
    .frame{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1300px;
        height: 600px;
        background-color: rgb(0, 0, 0);
        text-align: center;
        vertical-align: middle;
        position: relative;
    }
    .gallery{
        height: 80vh;
        background-color: rgb(0, 0, 0);
    }
    .contact-content{
        color: white;
        font-size: 1vw;
        margin: 30vh 20vw 10vh 30vw;
    }
    .contact{
        height: 58vh;
        /* background-color: black; */
    }
    .gallery-item{
        border-radius: 10px;
        float: left;
        height: 18vh;
        width: 15vw;
        margin: 10px 10px 10px 10px;
        background-color: red;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;    
    }
    .mySlidesdon {
        display: flex;
        align-items: center;
        max-width: 600px;
        max-height: 450px;
        margin: auto;
        text-align:center;
        vertical-align: center;
    }
    #symbol{
        font-size:50px;
    }
}

/* Laptop md */

@media only screen and (min-device-width : 1024px) and (max-device-width : 1440px){
    .tabs{
        padding: 0px 15px 0px 15px;
        color: #FFF;
        text-decoration: none;
        font-size: larger;
    }
    .tabs:hover{
        text-decoration: none;
        color: #FFF;
    }  
.about{
    margin-top: 0px;
    height: 90vh;
    background-color: black;
    
}
    .bg-img{
        height: 100vh;
        width: 200vh;
        background-repeat: no-repeat;
        background-image: url("./assets/background.jpeg");
        background-size: cover;
    }
    .about-content{
        background-color: black;
        margin-left: 75%; 
        padding: 5px 5px 5px 50px;
        float: left;
        width: 45vw;
        color: white;
        font-size: 1.5em;
    }
    #vallam-incident{
        /* float: right; */
        font-size: 1.5em;
    }
    .procedure-content{
        background-color: black;
        margin-left: 5%; 
        padding: 5px 5px 5px 50px;
        float: left;
        width: 45vw;
        color: white;
        font-size: 1.25em;
    }
    
    #note-for-donors{
        /* float: right; */
        font-size: 1.25em;
    }
    .gap{
        height: 12vh;
        background-color: black;
    }
    .title-box{
        position: relative;
        background-color: rgba(252,198,197,50%);
        width: max-content;
        text-align-last: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3vh 3vh 0vh 3vh;
        /* height: min-content; */
    }
    .frame{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 1300px;
        height: 600px;
        background-color: rgb(0, 0, 0);
        text-align: center;
        vertical-align: middle;
        position: relative;
    }
    .gallery{
        height: 40vh;
        background-color: rgb(0, 0, 0);
    }
    .contact-content{
        color: white;
        font-size: 1vw;
        margin: 30vh 20vw 10vh 30vw;
    }
    .contact{
        height: 58vh;
        /* background-color: black; */
    }
    .gallery-item{
        border-radius: 10px;
        float: left;
        height: 18vh;
        width: 15vw;
        margin: 10px 10px 10px 10px;
        background-color: red;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;    
    }
    .mySlidesdon {
        display: flex;
        align-items: center;
        max-width: 600px;
        max-height: 450px;
        margin: auto;
        text-align:center;
        vertical-align: center;
    }
    #symbol{
        font-size: 50px;
    }
}

/* Mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 768px) and (orientation: portrait)
{
    .tabs{
        padding: 0px 15px 0px 15px;
        color: #FFF;
        text-decoration: none;
        font-size: 2em;
    }
    .tabs:hover{
        text-decoration: none;
        color: #FFF;
    }
.about{
    margin-top: 0px;
    height: 75vh;
    background-color: black;
    
}
.conheight{
    height: 100vh;
}
    .bg-img{
        height: 100%;
        width: 90vh;
        background-repeat: no-repeat;
        background-image: url("./assets/background.jpeg");
        background-size: cover;
    }
    .about-content{
        background-color: black;
        padding: 7px 7px 7px 1px;
        width: 130%;
        height: auto;
        margin-left: 10vw;
        margin-right: 10vw;
        color: white;
        font-size: 2.5em;
    }
    #vallam-incident{
        /* float: right; */
        font-size: 2.5em;

    }
    .procedure-content{
        background-color: black;
        margin-left: 75%; 
        padding: 5px 5px 5px 50px;
        float: left;
        width: 45vw;
        color: white;
        font-size: 1.25em;
    }
    
    #note-for-donors{
        font-size: 1.25em;
    }
    .gap{
        height: 12vh;
        background-color: black;
    }
    .title-box{
        position: relative;
        background-color: rgba(252,198,197,50%);
        width: max-content;
        text-align-last: center;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        font-size: 3em;
        padding: 3vh 3vh 0vh 3vh;
        /* height: min-content; */
    }
    .frame{
        display: flex;
        margin-left: 5%;
        justify-content: left;
        align-items: center;
        width: 1500px;
        height: 800px;
        background-color: rgb(0, 0, 0);
        position: relative;
    }
    .gallery{
        height: 40vh;
        width: 90vh;
        background-color: rgb(0, 0, 0);
    }
    .contact-content{
        color: white;
        font-size: 2em;
        margin-top: auto;
        margin-left: 20%;
    }
    .contact{
        height: 30vh;
        /* background-color: black; */
    }
    .gallery-item{
        border-radius: 10px;
        float: left;
        height: 18vh;
        width: 15vw;
        margin: 10px 10px 10px 10px;
        background-color: red;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;    
    }
    .mySlidesdon {
        max-width: 1300px;
        max-height: 600px;
    }
    #symbol{
        font-size:100px;
    }
}
.nav-items{
    padding: 0px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    }



.procedure{ 
    padding-top: 5x;
    height: 90vh;
    background-color: black;
}




.back{
    /* background: url('assets/Blood-Donation-1.jpg');   */
    background-size:cover;
    background-repeat:no-repeat;
}

.title{
    font-size: 4vw;
    color:#c30000;
    font-family: 'Saira Condensed',sans-serif;
}

.welcome{
    font-family: 'Nunito',sans-serif;
    color: #c30000;
    font-weight: 1000;
    font-size: 2vw;
    letter-spacing: 0.5vh;
}

.heros{
    font-family: 'Poppins',sans-serif;
    color: #c30000;
    font-size: 2vw;
    font-weight: bold;
}

.image{
    height: 100%;
    width: 100%;
}

.plasma-logo{
    align-items: center;
    height: 12vh;
    width: 12vh;
}
.fab{
    padding-right: 15px;
    font-size: 2.8rem;
    color: #FFF;    
}

.fab:hover{
    color: white;
    text-decoration: none;
}


* {box-sizing: border-box}
.mySlides {
    display: none;
    align-items: center;
    margin: auto;
    text-align:center;
    vertical-align: center;
}

.donimage {
    margin: auto;
    max-width: 600px;
    max-height: 450px; 
    padding-top:15vh;
    text-align:center;
    align-items: center;
    position: relative;   
}

/* Slideshow container */
.slideshow-container {
    align-items: center;
  
  width:800px;
  height: 550px;
  position: relative;
  margin: auto;
  z-index: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: #FFF;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #FFF;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}